<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="rahulshettyAcademy.TestComponents.Listeners"/>
</listeners>
	<test thread-count="5" name="StandAloneTest">
		<classes>
			<class name="rahulshettyAcademy.tests.StandAloneTest" />
		</classes>
	</test> <!--
	Test -->

	<test thread-count="5" name="ErrorValidationsTest">
		<classes>
			<class name="rahulshettyAcademy.tests.ErrorValidationsTest" />
		</classes>
	</test>

</suite> 
